<div class="banner" id="home">
  <div class="d-flex justify-content-center align-item-center">
    <div class="text-center">
      <h1>Fullstack<br>
        Web<br>
        Developer</h1>
    </div>
  </div>
</div>
