<div class="banner" id="home">
  <div class="d-flex justify-content-center align-item-center">
    <div class="text-center">
      <h1>UI/Web Designer<br>
        Frontend Developer</h1>
    </div>
  </div>
</div>
