<div class="text-center text-white" id="contact">
  <h2 class="pt-3">GET IN TOUCH WITH ME!</h2>
  <ul class="list-inline">
    <li class="list-inline-item"><i class="fas fa-envelope"></i></li>
    <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
    <li class="list-inline-item"><i class="fab fa-github-alt"></i></li>
  </ul>
</div>
