<div class="text-center text-white" id="contact">
  <h2 class="pt-3">GET IN TOUCH WITH ME!</h2>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="mailto:konczakkevin@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/in/konczakkevin/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    <li class="list-inline-item"><a href="https://github.com/neoke20" target="_blank"><i class="fab fa-github-alt"></i></a></li>
  </ul>
</div>
