<div class="d-flex justify-content-between mt-1 mx-1 navbar">
  <div>
    <h2>KEVIN KONCZAK</h2>
  </div>
  <div>
    <ul class="list-inline">
      <li class="list-inline-item"><%= image_tag "navbar/profile.png", alt: "profile", title: "about me" %></li>
      <li class="list-inline-item"><%= image_tag "navbar/message.png", alt: "message", title: "contact me" %></li>
      <li class="list-inline-item"><%= image_tag "navbar/project.png", alt: "project", title: "projects" %></li>
    </ul>
  </div>
</div>
