<div class="d-flex justify-content-between mt-1 mx-1 navbar">
  <div>
    <a href="#home">
      <h2>KEVIN KONCZAK</h2>
    </a>
  </div>
  <div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#profile"><%= image_tag "navbar/profile.png", alt: "profile", title: "about me" %></li>
      </a>
      <li class="list-inline-item"><a href="#projects"><%= image_tag "navbar/project.png", alt: "project", title: "projects" %></li>
      </a>
      <li class="list-inline-item"><a href="#contact"><%= image_tag "navbar/message.png", alt: "message", title: "contact me" %></li>
      </a>
    </ul>
  </div>
</div>
