.movie-card {
    margin: 50px;
}
.ui-movie-card h2, h3, p {
    font-family: $roboto;
}
.ui-movie-card h3 {
    color: #E2B616;
}
.ui-movie-card h3 span {
    color: white;
}
.poster i, .poster h2, .poster p {
    text-shadow: 1px 1px 10px rgba(240, 240, 240, 0.6);
}
.poster {
    position: relative;
}
.header {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 300px;
}
.header i:hover {
    cursor: pointer;
}
.poster img {
    border-radius: 6px 6px 0 0;
    max-width: 400px;
    max-height: 400px;
    -webkit-clip-path: polygon(0 0, 0 400px, 400px 320px, 400px 0);
    clip-path: polygon(0 0, 0 400px, 400px 320px, 400px 0);
}
.play-button {
    position: absolute;
    top: 140px;
    left: 140px;
    font-size: 60px;
}
.play-button:hover {
    cursor: pointer;
}
.popularity {
    position: absolute;
    bottom: 40px;
    left: 15px;
    line-height: 2px;
    text-align: right;
}
div.popularity > p:nth-child(2) > span {
    color: #388E3C;
}
.content {
    position: relative;
    z-index: -1;
    background: rgb(0,0,0);
    background: linear-gradient(310deg, rgba(0,0,0,1) 0%, rgba(2,59,114,1) 100%);
    width: 338px;
    height: 310px;
    margin-top: -68px;
    border-radius: 0 0 6px 6px;
}
.content h3 {
    position: absolute;
    top: 32px;
    right: 24px;
}
.ui-movie-card .description {
    position: absolute;
    top: 100px;
    left: 30px;
}
.ui-movie-card .description p {
    font-weight: 500;
}
.ui-movie-card .description span {
    font-weight: 100;
}
div.content > div > p:nth-child(1) {
    text-transform: uppercase;
}
