.navbar h2 {
  border-right: 2px solid black;
  padding-right: 8px;
  background-color: $red;
  color: white;
  &:hover {
    cursor: default;
    color: rgb(235, 235, 235);
    background-color: lighten($red, 5%);
  }
}
