.profile {
  background-color: $gunmetal;
}
.profile-img img {
  border-radius: 50%;
  box-shadow: -3px 3px 8px rgba($color: black, $alpha: 0.5);
  object-fit: cover;
  object-position: top;
  width: 300px;
  &:hover {
    transform: scaleX(-1);
    -webkit-transition: all 1.2s 0s ease;
    -moz-transition: all 1.2s 0s ease;
    -o-transition: all 1.2s 0s ease;
    transition: all 1.2s 0s ease;
  }
}
.profile-img {
  @media (max-width: 800px) {
  align-self: center;
}
}
.profile-text {
  width: 250px;
  padding: 60px 0 0 16px;
  text-shadow: 1px 1px 2px black;
  @media (max-width: 800px) {
  align-self: center;
  text-align: center;
  padding-top: 24px;
  width: 350px;
}
}
.intro {
  padding-top: 40px;
  padding-bottom: 50px;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}
